.about {
    padding-top: 50px;
    background: var(--color-about);

    .about_container {
        width: 100%;

        .Gsec_h2 {
            font-size: 4rem;
            font-weight: bold;
        }


        .info_cards {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            * {
                color: rgb(14, 52, 53);
            }

            article {
                width: 300px;
                // max-width: 400px;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin: 0.7rem;
                padding: 2rem;
                border: none;
                background: var(--color-about-cards);
                border-radius: 10px;

                * {
                    transition: all 0.1s;
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .icons1 {
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                        margin-top: 15px;
                        margin-bottom: -10px;

                        &:hover {
                            color: #4267B2;
                        }
                    }

                    .icons2 {
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                        margin-top: 15px;
                        margin-bottom: -10px;

                        &:hover {
                            color: #E1306C;
                        }

                    }

                    .icons3 {
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                        margin-top: 15px;
                        margin-bottom: -10px;

                        &:hover {
                            color: #1DA1F2;
                        }

                    }
                }

                h2 {
                    font-size: 1.2rem;
                    font-weight: bold;


                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-bottom: 8px;
                }

                h4 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-bottom: 8px;
                }
            }

            article:hover {
                transform: scale(1.05) rotate(-2deg) translate(-2px);
            }
        }

        .head_name {
            font-size: 2.7rem;
            font-weight: bold;
            margin-top: 2rem;
            text-align: center;
        }

    }

    img {
        // height: 300px;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
    }

    .divider {
        padding: 2rem;

        div {
            background-color: var(--color-about-cards);
            width: 100%;
            height: 4px;
        }

    }
}


@media only screen and (max-width:420px) {
    .about {
        .about_container {
            .Gsec_h2 {
                font-size: 2.5rem;
                font-weight: bold;
            }
        }
    }


}