.quiz_container{
    text-align:left;
    margin-top: 20px;
    margin-left: 20px;
    

}
.timer{
    margin:0;
  }

.timer .main{
color:rgb(235, 13, 13);
display: inline-block;
}

.timer .text{
  display: inline-block;
}

.btn {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #7095c6;
    padding: 10px 20px 10px 20px;
  }
  
  .btn:hover {
    background: #ba508c;
    text-decoration: none;
  }