.quiz_container{
    text-align: center;
    margin-top: 20px;
}

.timer{
    margin:0;
  }

.timer .main{
color:red;
display: inline-block;
}

.timer .text{
  display: inline-block;
}

.btn {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #19c2c2;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2eb3b3;
    text-decoration: none;
  }