@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

:root {
  --font-default: 'Fuzzy Bubbles', cursive;
  --font-family: 'Inconsolata', monospace;

  --font-sz-p: 1.2rem;

  // --gradient-text: linear-gradient(89.97deg, #a1c1ff 1.84%, rgb(110, 255, 255) 102.67%);
  // --gradient-tmes: linear-gradient(89.97deg, #fb4242 1.84%, rgb(255, 179, 0) 102.67%);

  --gradient-text: #6a5442;
  --gradient-tmes: #ffb14b;
  --gradiant_nav: rgb(255, 254, 254);

  --color-pri: #ffffff;
  --color-sec: #000000;
  --color-bg: #FAF7F0;
  --color-text: #000000;
  --color-subtext: #08a4a7;
  --color-footer: #79A3B1;
  --color-events: #f8eaff;
  --color-events-text: #ffaccc;
  --color-about: #ddffea;
  --color-about-text: #9ecc9b;
  --color-about-cards: #cff4cd;
  --color-great: #F9F9F9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: 0.2s ease;
  color: var(--color-text);
  font-family: var(--font-default);
}